:root {
    --bg-violet: #D5CDFE;
    --bg-blue: #4da8f8;
    --font-light-blue: #4da8f8;
  }

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
} 

/*--------------------*/

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color:#000;
    font-size: 16px;
    line-height: 24px;
}

.wrapper {
 
  min-height: 100%;
  overflow: hidden;
  
  background-color:var(--bg-blue);
  
  color: #fff;
 
  display: flex;
  flex-direction: column;

}

.carousel {
 /* flex: 1 1 auto;*/
  padding-top:25px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 30px;
  
}
@media(max-width:1024px) {
  .container {
   
  }
  
}
  @media(max-width:768px) {
    .container {
       max-width: 758px;
    }
}
  @media(max-width:420px) {
    .container {
       max-width: 410px;
    }
}




.carousel__container {
 
  position: relative;
  border: 10px solid #fff;
  width: 100%;
  height:80vh; 
  box-shadow: 0px 0px 10px #333;
  overflow: hidden;
  background: #ccc;
  border-radius: 30px;
}



.carousel .slide {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.5s ease-in-out;
  overflow: hidden;
  padding: 0 0 80% 0;
}
.carousel__container .slide img {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 input[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
  padding-right: 15px;
 
  
}

/*
.dot span {
  cursor: pointer;
  text-indent: -99999px;
  overflow: hidden;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 3px solid #fff;
  box-sizing: border-box;
  border-radius: 100%;
  
  z-index: 100;
  top: 90%;
 
  margin-left: 5px;
}*/
/*
input[type=radio]:checked ~ .controls .dot {
  background: #0091EA;
}*/
#slide-1:checked ~ .row .controls .dot.slide-1 {
  background: var(--bg-blue);
}
#slide-2:checked ~ .row .controls .dot.slide-2 {
  background: var(--bg-blue);
}
#slide-3:checked ~ .row .controls .dot.slide-3 {
  background: var(--bg-blue);
}
#slide-4:checked ~ .row .controls .dot.slide-4 {
  background: var(--bg-blue);
}
#slide-5:checked ~ .row .controls .dot.slide-5 {
  background: var(--bg-blue);
}

 .dot {
  cursor: pointer;
  text-indent: -99999px;
  overflow: hidden;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 5px solid #fff;
  box-sizing: border-box;
  border-radius: 100%;
  
  z-index: 100;
  top: 90%;
 
  margin-left: 10px;
  transition: all 0.5s ease 0s;
 
}
.dot:hover {
  background: #000;
  border-color:#000;
  transition: all 0.5s ease 0s;

}
.dot:focus, .dot:active {
  background: #000;
  border-color:#000;
  transition: all 0.5s ease 0s;
}
.row__container {
  display: flex;
    padding-top:45px;
    padding-bottom: 20px;
    padding-right: 15px;
    justify-content: space-between;
   /* height: 100px;*/
   
}
@media(max-width:768px) {
  .row__container {
    flex-direction: column-reverse;
  }
}

.row {
  height: 20vh;
 
}



.row__text {
  flex: 1 1 auto;
  position: relative;
  font-size: 40px;
}
.text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
 /* margin-left: -100px;*/
}


@media(max-width:768px) {
  .controls {
    align-self: center;
 }
}
/*
.wrapper {
    background-color:#4da8f8;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.container{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0 15px;
}
.carousel {
    padding-top: 30px;
    flex: 1 1 auto;
    
}
.carousel__container {
    position: relative;
    border: 10px solid #fff;
    width: 100%;
    height: 300px;
    box-shadow: 0px 0px 10px #333;
    overflow: hidden;
    background: #ccc;
}
.carousel .slide {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s ease-in-out;
  }
.row__container {
    display: flex;
    padding-top:20px;
    padding-bottom: 20px;
    justify-content: space-between;
    height: 100px;
}
.controls {
   display: flex;
}
.controls input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
    padding-right: 15px;
}

.controls input[type=radio]:checked + .dot {
    background: #0091EA;
}

.controls .dot {
    cursor: pointer;
    text-indent: -99999px;
    overflow: hidden;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid #fff;
    box-sizing: border-box;
    border-radius: 100%;
   
    z-index: 100;
    top: 90%;
    float: right;
    margin-left: 15px;
}




.label-container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .label-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 2px solid #000000;
    border-radius: 50%;
    margin-top:3px;
  }
  
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  
  .label-container input:checked ~ .checkmark:after {
      display: block;
    }
  
  .label-container .checkmark:after {
     top: 3px;
     left: 3px;
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background: #000000;
  }


  .row #slide-1:checked ~ .carousel .slides li.slide-1 {
   
    left: 0;
    z-index: 2;
    
  }

input {
  float: right;
}
*/
/*
   #slide-1:checked ~ .slides li.slide-1 {
    left: 0;
    z-index: 2;
  }*/

  #slide-1:checked ~ .carousel .slides li.slide-1 {
    left: 0;
    z-index: 2;
  }
  #slide-1:checked ~ .carousel .slides li.slide-2 {
    left: -100%;
    opacity: 0;
  }
  #slide-1:checked ~ .carousel .slides li.slide-3 {
    top: -1000%;
  }
  #slide-1:checked ~ .carousel .slides li.slide-4 {
    top: -1000%;
  }
  #slide-1:checked ~ .carousel .slides li.slide-5 {
    left: 100%;
    opacity: 0;
  }
  
  
  
  #slide-2:checked ~ .carousel .slides li.slide-1 {
    left: 100%;
    opacity: 0;
  }
  #slide-2:checked ~ .carousel .slides li.slide-2 {
    left: 0;
    z-index: 2;
  }
  #slide-2:checked ~ .carousel .slides li.slide-3 {
    left: -100%;
    opacity: 0;
  }
  #slide-2:checked ~ .carousel .slides li.slide-4 {
    top: -1000%;
  }
  #slide-2:checked ~ .carousel .slides li.slide-5 {
    top: -1000%;
  }
  
  
  
  #slide-3:checked ~ .carousel .slides li.slide-1 {
    top: -1000%;
  }
  #slide-3:checked ~ .carousel .slides li.slide-2 {
    left: 100%;
    opacity: 0;
  }
  #slide-3:checked ~ .carousel .slides li.slide-3 {
    left: 0;
    z-index: 2;
  }
  #slide-3:checked ~ .carousel .slides li.slide-4 {
    left: -100%;
    opacity: 0;
  }
  #slide-3:checked ~ .carousel .slides li.slide-5 {
    top: -1000%;
  }
  
  
  
  #slide-4:checked ~ .carousel .slides li.slide-1 {
    top: -1000%;
  }
  #slide-4:checked ~ .carousel .slides li.slide-2 {
    top: -1000%;
  }
  #slide-4:checked ~ .carousel .slides li.slide-3 {
    left: 100%;
    opacity: 0;
  }
  #slide-4:checked ~ .carousel .slides li.slide-4 {
    left: 0;
    z-index: 2;
  }
  #slide-4:checked ~ .carousel .slides li.slide-5 {
    left: -100%;
    opacity: 0;
  }
  
  
  #slide-5:checked ~ .carousel .slides li.slide-1 {
    left: -100%;
    opacity: 0;
  }
  #slide-5:checked ~ .carousel .slides li.slide-2 {
    top: -1000%;
  }
  #slide-5:checked ~ .carousel .slides li.slide-3 {
    top: -1000%;
  }
  #slide-5:checked ~ .carousel .slides li.slide-4 {
    left: 100%;
    opacity: 0;
  }
  #slide-5:checked ~ .carousel .slides li.slide-5 {
    left: 0;
    z-index: 2;
  }
  
  /*
  #slide-1:checked ~ .row .row__text .text-1 {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
  }
  #slide-1:checked ~ .row .row__text .text-2 {
    
    opacity: 0;
    visibility: hidden;
    margin-left: -30px;
  }
  #slide-2:checked ~ .row .row__text .text-2 {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
  }
*/

p {
  transition: all 1s ease 0s;
}

#slide-1:checked ~ .row .row__text p.text-1 {
  opacity: 1;
  visibility:visible;
}
#slide-1:checked ~ .row .row__text p.text-2,
#slide-1:checked ~ .row .row__text p.text-3,
#slide-1:checked ~ .row .row__text p.text-4,
#slide-1:checked ~ .row .row__text p.text-5
 {
  opacity: 0;
  visibility: hidden;
}

#slide-2:checked ~ .row .row__text p.text-1,
#slide-2:checked ~ .row .row__text p.text-3,
#slide-2:checked ~ .row .row__text p.text-4,
#slide-2:checked ~ .row .row__text p.text-5
 {
  opacity: 0;
  visibility: hidden;
}
#slide-2:checked ~ .row .row__text p.text-2
 {
  opacity: 1;
  visibility: visible;
}

#slide-3:checked ~ .row .row__text p.text-3
 {
  opacity: 1;
  visibility: visible;
}
#slide-3:checked ~ .row .row__text p.text-1,
#slide-3:checked ~ .row .row__text p.text-2,
#slide-3:checked ~ .row .row__text p.text-4,
#slide-3:checked ~ .row .row__text p.text-5
 {
  opacity: 0;
  visibility: hidden;
}

#slide-4:checked ~ .row .row__text p.text-4
 {
  opacity: 1;
  visibility: visible;
}
#slide-4:checked ~ .row .row__text p.text-1,
#slide-4:checked ~ .row .row__text p.text-2,
#slide-4:checked ~ .row .row__text p.text-3,
#slide-4:checked ~ .row .row__text p.text-5
 {
  opacity: 0;
  visibility: hidden;
}
#slide-5:checked ~ .row .row__text p.text-5
 {
  opacity: 1;
  visibility: visible;
}
#slide-5:checked ~ .row .row__text p.text-1,
#slide-5:checked ~ .row .row__text p.text-2,
#slide-5:checked ~ .row .row__text p.text-3,
#slide-5:checked ~ .row .row__text p.text-4
 {
  opacity: 0;
  visibility: hidden;
}
/*
#slide-1:checked ~ .row .row__text p.text-3 {
  margin-top: -1000px;
}
#slide-1:checked ~ .row .row__text p.text-4 {
  margin-top: -1000px;
}
#slide-1:checked ~ .row .row__text p.text-5 {
  margin-left: 100px;
  opacity: 0;
}*/
/*
#slide-2:checked ~ .row .row__text p.text-1 {
  margin-left: 100px;
  opacity: 0;
}
#slide-2:checked ~ .row .row__text p.text-2 {
  margin-left: 0;
  z-index: 2;
  opacity: 1;
}

#slide-2:checked ~ .row .row__text p.text-3 {
  margin-top: -100%;
}
#slide-2:checked ~ .row .row__text p.text-4 {
  margin-top: -100%;
}

#slide-3:checked ~ .row .row__text p.text-2 {
  margin-left: 100px;
  opacity: 0;
}
#slide-3:checked ~ .row .row__text p.text-3 {
  margin-left: 0px;
  opacity: 1;
}

#slide-4:checked ~ .row .row__text p.text-3 {
  margin-left: 100px;
  opacity: 0;
}
#slide-4:checked ~ .row .row__text p.text-4 {
  margin-left: 0px;
  opacity: 1;
}

#slide-5:checked ~ .row .row__text p.text-4 {
  margin-left: 100px;
  opacity: 0;
}
#slide-5:checked ~ .row .row__text p.text-5 {
  margin-left: 0px;
  opacity: 1;
}
*/
  .carousel img {
    width: 100%;
  }

  img {
    display: block;
    
  }