:root {
    --bg-violet: #D5CDFE;
    --bg-blue: #4da8f8;
    --font-light-blue: #4da8f8;
  }

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
} 

/*--------------------*/

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color:#000;
    font-size: 16px;
    line-height: 24px;
}

.wrapper {
 
  min-height: 100%;
  overflow: hidden;
  
  background-color:var(--bg-blue);
  
  color: #fff;
 
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.carousel {
 /* flex: 1 1 auto;*/
  padding-top:25px;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0px 30px;
  
}
@media(max-width:1024px) {
  .container {
    max-width: 900px;
  }
  
}
  @media(max-width:768px) {
    .container {
       max-width: 758px;
    }
}
  @media(max-width:420px) {
    .container {
       max-width: 410px;
    }
}




.carousel__container {
 
  position: relative;
  border: 5px solid #fff;
  width: 100%;
  height:85vh; 
  box-shadow: 0px 0px 10px #333;
  overflow: hidden;
  background: #ccc;
  border-radius: 30px;
}

@media(max-width:768px) {
  .carousel__container {
    height:80vh; 
  }
  
}
/*
  @media(max-width:930px) {
    .carousel__container {
      height:60vh; 
    }
}
  @media(max-width:420px) {
    .container {
       max-width: 410px;
    }
}
*/

.carousel .slide {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.5s ease-in-out;
  overflow: hidden;
  padding: 0 0 85% 0;
}
.carousel .slide.slide-2 {
  padding: 0 0 65% 0;
}
.carousel__container .slide img {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 input[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
  padding-right: 15px;
 
  
}

#slide-1:checked ~ .row .controls .dot.slide-1 span {
  background: var(--bg-blue);
}
#slide-2:checked ~ .row .controls .dot.slide-2 span {
  background: var(--bg-blue);
}
#slide-3:checked ~ .row .controls .dot.slide-3 span {
  background: var(--bg-blue);
}
#slide-4:checked ~ .row .controls .dot.slide-4 span {
  background: var(--bg-blue);
}
#slide-5:checked ~ .row .controls .dot.slide-5 span {
  background: var(--bg-blue);
}

.dot {
 padding: 5px;
 padding-top: 35px;
 cursor: pointer;
}
 .dot span {
  cursor: pointer;
  text-indent: -99999px;
  overflow: hidden;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 5px solid #fff;
  box-sizing: border-box;
  border-radius: 100%;
  
  z-index: 100;
  top: 90%;
 
  margin-left: 5px;
  transition: all 0.5s ease 0s;
 
}
.dot span:hover {
  background: #000;
  border-color:#000;
  transition: all 0.5s ease 0s;

}
.dot span:focus, .dot span:active {
  background: #000;
  border-color:#000;
  transition: all 0.5s ease 0s;
}

@media(max-width:790px) {
  .dot span{
    width: 25px;
    height: 25px; 
   
    border-width: 3px;
  }
}


.row__container {
  display: flex;
    padding-top:40px;
    padding-bottom: 20px;
    padding-right: 15px;
    justify-content: space-between;
   /* height: 100px;*/
   
}
@media(max-width:768px) {
  .row__container {
    flex-direction: column-reverse;
  }
}

.row {
  
}

.row__text {
  flex: 1 1 auto;
  position: relative;
  
  font-size: 40px;
}

@media(max-width:790px) {
  .row__text {
    font-size: 30px;
  }
  
}
.text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
 /* margin-left: -100px;*/
}


@media(max-width:768px) {
  .controls {
    align-self: center;
    margin-bottom: 30px;
 }
}

  #slide-1:checked ~ .carousel .slides li.slide-1 {
    left: 0;
    z-index: 2;
  }
  #slide-1:checked ~ .carousel .slides li.slide-2 {
    left: -100%;
    opacity: 0;
  }
  #slide-1:checked ~ .carousel .slides li.slide-3 {
    top: -1000%;
  }
  #slide-1:checked ~ .carousel .slides li.slide-4 {
    top: -1000%;
  }
  #slide-1:checked ~ .carousel .slides li.slide-5 {
    left: 100%;
    opacity: 0;
  }
  

  #slide-2:checked ~ .carousel .slides li.slide-1 {
    left: 100%;
    opacity: 0;
  }
  #slide-2:checked ~ .carousel .slides li.slide-2 {
    left: 0;
    z-index: 2;
  }
  #slide-2:checked ~ .carousel .slides li.slide-3 {
    left: -100%;
    opacity: 0;
  }
  #slide-2:checked ~ .carousel .slides li.slide-4 {
    top: -1000%;
  }
  #slide-2:checked ~ .carousel .slides li.slide-5 {
    top: -1000%;
  }
  
  
  
  #slide-3:checked ~ .carousel .slides li.slide-1 {
    top: -1000%;
  }
  #slide-3:checked ~ .carousel .slides li.slide-2 {
    left: 100%;
    opacity: 0;
  }
  #slide-3:checked ~ .carousel .slides li.slide-3 {
    left: 0;
    z-index: 2;
  }
  #slide-3:checked ~ .carousel .slides li.slide-4 {
    left: -100%;
    opacity: 0;
  }
  #slide-3:checked ~ .carousel .slides li.slide-5 {
    top: -1000%;
  }
  
  
  
  #slide-4:checked ~ .carousel .slides li.slide-1 {
    top: -1000%;
  }
  #slide-4:checked ~ .carousel .slides li.slide-2 {
    top: -1000%;
  }
  #slide-4:checked ~ .carousel .slides li.slide-3 {
    left: 100%;
    opacity: 0;
  }
  #slide-4:checked ~ .carousel .slides li.slide-4 {
    left: 0;
    z-index: 2;
  }
  #slide-4:checked ~ .carousel .slides li.slide-5 {
    left: -100%;
    opacity: 0;
  }
  
  
  #slide-5:checked ~ .carousel .slides li.slide-1 {
    left: -100%;
    opacity: 0;
  }
  #slide-5:checked ~ .carousel .slides li.slide-2 {
    top: -1000%;
  }
  #slide-5:checked ~ .carousel .slides li.slide-3 {
    top: -1000%;
  }
  #slide-5:checked ~ .carousel .slides li.slide-4 {
    left: 100%;
    opacity: 0;
  }
  #slide-5:checked ~ .carousel .slides li.slide-5 {
    left: 0;
    z-index: 2;
  }
  

p {
  transition: all 1s ease 0s;
}

#slide-1:checked ~ .row .row__text p.text-1 {
  opacity: 1;
  visibility:visible;
}
#slide-1:checked ~ .row .row__text p.text-2,
#slide-1:checked ~ .row .row__text p.text-3,
#slide-1:checked ~ .row .row__text p.text-4,
#slide-1:checked ~ .row .row__text p.text-5
 {
  opacity: 0;
  visibility: hidden;
}

#slide-2:checked ~ .row .row__text p.text-1,
#slide-2:checked ~ .row .row__text p.text-3,
#slide-2:checked ~ .row .row__text p.text-4,
#slide-2:checked ~ .row .row__text p.text-5
 {
  opacity: 0;
  visibility: hidden;
}
#slide-2:checked ~ .row .row__text p.text-2
 {
  opacity: 1;
  visibility: visible;
}

#slide-3:checked ~ .row .row__text p.text-3
 {
  opacity: 1;
  visibility: visible;
}
#slide-3:checked ~ .row .row__text p.text-1,
#slide-3:checked ~ .row .row__text p.text-2,
#slide-3:checked ~ .row .row__text p.text-4,
#slide-3:checked ~ .row .row__text p.text-5
 {
  opacity: 0;
  visibility: hidden;
}

#slide-4:checked ~ .row .row__text p.text-4
 {
  opacity: 1;
  visibility: visible;
}
#slide-4:checked ~ .row .row__text p.text-1,
#slide-4:checked ~ .row .row__text p.text-2,
#slide-4:checked ~ .row .row__text p.text-3,
#slide-4:checked ~ .row .row__text p.text-5
 {
  opacity: 0;
  visibility: hidden;
}
#slide-5:checked ~ .row .row__text p.text-5
 {
  opacity: 1;
  visibility: visible;
}
#slide-5:checked ~ .row .row__text p.text-1,
#slide-5:checked ~ .row .row__text p.text-2,
#slide-5:checked ~ .row .row__text p.text-3,
#slide-5:checked ~ .row .row__text p.text-4
 {
  opacity: 0;
  visibility: hidden;
}

  .carousel img {
    width: 100%;
  }

  img {
    display: block;
    
  }